@use 'src/styles/vars';

.card {
    padding: 7rem 8rem 5rem 8rem;

    background-color: rgb(216, 216, 216);

    // & .sub-card {
    //     width: 80%;
    //     margin-left: auto;
    //     margin-right: auto;
    // }
    & p {
        margin: 0;
    }
    
    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;
    }
    &__sub-top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & p {
            font-size: 1.5rem;
            background-color: white;
            padding: 1rem;
            align-self: flex-end;
            border-radius: 2px;
            
            & span {
                font-weight: 500;
            }
        }
    }
    &__total-container {
        margin-top: 5px;
        width: 100%;
        text-align: right;
    }
    &__total {
        border: 1px solid vars.$font-color;
        display: inline-block;
        font-size: 1.5rem;
        background-color: white;
        padding: 1rem;
        align-self: flex-end;
        border-radius: 2px;
        text-align: right;
        
        & span {
            font-weight: 500;
        }
    }
    &__title {
        font-size: 3rem;
        
    }
    &__img-link::after {
        height: 0;
    }
    &__next {
        font-weight: 500;
        min-width: 160px;
        background-color: white;
        border: 1px solid vars.$font-color;
        padding: 1rem 3rem;
        transition: 0.2s;
        &::after {
            height: 0;
        }

        &:hover {
            background-color: vars.$font-color;
            color: white;
        }
    }

    &__products {
        margin-top: 1.5rem;
        border-top: 1px solid rgb(216, 216, 216);
        background-color: white;
    }
    &__product {
        display: flex;
        padding: 2rem 0 2rem 2rem;
        border-bottom: 1px solid rgb(216, 216, 216);
        &__img-container {
            width: 16%;
            min-width: 150px;
            height: 280px;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border: 1px solid rgb(216, 216, 216);
            }
        }
        &__info {
            padding-left: 2rem;
            height: 280px;
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & .info__left {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                &__title {
                    font-size: 1.5rem;
                    font-weight: 500;
                    display: inline;
                    // margin-bottom: 1.5rem;
                }
                &__description {
                    margin-bottom: 1.5rem;
                }
                & .quantity-container {
                    display: flex;
                    align-items: center;
                }
                &__quantity-text {
                    // text-decoration: underline;
                    //border-bottom: 1px solid vars.$font-color;
                    font-size: 1.1rem;
                    font-weight: 400;
                    margin-right: .5rem;
                }
                &__quantity-less {
                    border: 1px solid rgb(216, 216, 216);
                    font-size: 1.1rem;
                    padding: 5px;
                }
                &__quantity-more {
                    border: 1px solid rgb(216, 216, 216);
                    // padding: 5px
                    font-size: 1.1rem;
                    padding: 5px;

                }
                &__quantity-number {
                    font-weight: 500;
                    border: 1px solid rgb(216, 216, 216);
                    padding: 5px 10px;
                    display: inline-block;
                    font-size: 1.1rem;
                    
                }
            }
            & .info__price-container {
                // border-bottom: 1px solid vars.$font-color;

                font-size: 1.1rem;
                font-weight: 400;
                
                
                // position: absolute;
                // right: 170px;
                // top: 220px;

                // &::before {
                //     content: '';
                //     position: absolute;
                //     width: 180px;
                //     // border-bottom: 1px solid rgb(216, 216, 216);
                //     right: -90px;
                //     top: 30px;
                // }
                // &::after {
                //     content: '';
                //     position: absolute;
                //     right: -90px;
                //     top: -7px;
                //     height: 346px;
                //     width: 180px;
                //     border:1px solid rgb(216, 216, 216);
                // }
            }
            & .info__price-content {
                font-weight: 500;
                // display: block;
                margin-left: .5rem;
                // margin-top: 10px;
                font-size: 1.2rem;
                // position: absolute;
                // right: 150px;
                // top: 365px;
                }
        }

        
    }
}

@media only screen and (max-width: 1050px) {
    .card {
        padding: 7rem 4rem 5rem 4rem;
        // &__top {
        //     flex-direction: column;
        // }
        &__product {
            padding-right: 1rem;
        }
        &__next {
            // padding: 1rem 1rem;

            max-width: 250px;
            min-width: 180px;
            text-align: center;
        }
    }

  }

  @media only screen and (max-width: 800px) {
    .info__left__title {
        margin-bottom: 1rem;

    }
  }

  @media only screen and (max-width: 640px) {
    .card {
        padding: 7rem 1rem 5rem 1rem;
        &__top {
            flex-direction: column;
        }
        &__next {
            margin-top: 2rem;
            align-self: flex-end;
        }
        &__product {
            // height: auto;
            
            &__img-container {
                width: 16%;
                min-width: 100px;
                height: 180px;
            }
            &__info {
                height: 220px;
            }
        }
        .info__left {
            display: inline-block;
            &__title {
                & a {
                    display: inline-block;
                    padding: 0;
                    margin: 0;
                    margin-bottom: 1rem;
                }
            }
            &__description {
                max-height: 5.5rem;
                font-size: 1rem;
                line-height: 1.1rem;
                // border: 1px solid green;
                overflow: hidden;
                margin-bottom: 0;

               
            }
            & .see-more::before {
                content: '(...)';
                // position: absolute;
            }
        }
        & .quantity-container {
            margin-bottom: 1rem;
        }
    }
  }