@use 'src/styles/vars';

.input-form {
  margin-top: 60px;
  text-align: left;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 140px;

  &__search {
   background: rgb(250,181,179);
background: linear-gradient(13deg, rgba(250,181,179,1) 0%, rgba(255,228,196,1) 70%);
    height: 100%;
    display: flex;
    justify-content: center;
      align-items: center;

    & input {
      border-radius: 0;
      border-style:solid;
      -webkit-appearance: none;
      height: 35px;
      width: 25rem;
      font-size: 0.9rem;
      color: vars.$font-color;
      font-weight: 300;
      border: none;
      padding: 0.5em 1em;
      

      &::placeholder {
        font-size: 1em;
        font-style: italic;
        font-family: 'Roboto', sans-serif;
      }
    }
  }

  &__categories {
    display: flex;
    align-items: baseline;
    justify-content:center;
    padding: 0.5rem;
    background-color: #fff3eb;
    & p {
      margin-right: 1rem;
      font-weight: 400;
    }

    & div {
      margin-bottom: 0.5rem;
      margin-left: 1rem;

      & input {
        cursor: pointer;
        display: none;
        &:checked + label {
          font-weight: 500;
        }
      }

      & label {
       padding: 0 1rem;
       font-size: 0.9rem;
      }
    }
  }
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 15px 0;
  padding: 0.5em;
}

@media only screen and (max-width: 970px) {
  .input-form__categories {
     & div {
      & label {
        padding: 0 0.3rem;
      }
    } 
  }
}

 @media only screen and (max-width: 812px) {
  .input-form__categories {
    flex-wrap: wrap;
    & p {
     font-size: 1.8vw; 
    }
    & div {
      & label {
        font-size: 1.8vw;
      }
    }
  }
}

 @media only screen and (max-width: 670px) {
 .input-form__categories {
    min-height: 100px;
    & p {
     font-size: 2.2vw; 
    }
    & div {
      & label {
        font-size: 2.2vw;
      }
    }
  }
}

@media only screen and (max-width: 530px) {
.input-form__categories {
    & p {
     font-size: 3vw; 
    }
    & div {
      & label {
        font-size: 3vw;
      }
    }
  }
}

@media only screen and (max-width: 430px) {
.input-form__categories {
  padding: 0.2rem;
    & p {
     font-size:  0.8rem; 
    }
    & div {
      & label {
        font-size: 0.8rem ;
      }
    }
  }
  .input-form__search {
    & input {
 width: 18rem;
padding: 0 1em;
 &::placeholder {
        font-size: 0.8em;
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .input-form__search {
    & input {
 height: 30px;
    }
  }
  .input-form__categories {
    min-height: 120px;
}
}
