@use 'src/styles/vars';


.article{
  display: flex;
  height: auto;
  max-height: 100vh;
  width: 98vw;
  max-width: 98vw;
  margin: 0 auto;
  justify-content: space-between ;
 
   &__text{
     width: 60%;
     font-size: 1.1em;
     position: absolute;
     padding-bottom: 0.5em;
     left: 3em;
     bottom: 3em;
  }  
 &__picture{
max-height:100%;
max-width: 100%;
}
}

.text-container {
  width: 100%;
  height: auto;
  min-height: 40vh;
  max-width: 70vw;
  max-height: 100vh; 
  position: relative;
}

.picture-container {
  padding: 0.5em;
  height: 100%;
  max-height: 100vh;
  max-width: 450px;
  min-width: 320px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

 @media only screen and (max-width: 1350px) {
 .article__text{
  font-size: 1.6vw;
  }
}
 
//specific width for ipad pro and small pc screens
 @media only screen and (max-width: 1024px) {

 .picture-container {
  max-width: 400px;
}
 .article__text{
  font-size: 1.6vw;
  }
}

// adapting font size for readability
 @media only screen and (max-width: 812px) {
.article__text {
font-size: 1.8vw;
}
}
 
 // specific picture width for tablets and phones (landscape)
  @media (min-width: 415px) and (max-width: 650px) { 
 .article__picture {
  max-width: 260px;
}
.article__text {
  width: 90%;
}
}

// specific lay out for smartphones (portrait)
@media only screen and (max-width: 414px) {
  .article {
  flex-direction: column-reverse;
  max-width: 100vw;
  max-height: 100%;
  &__text{
  font-size: 3.4vw;
  margin-top: none;
  width: 70%;
  position: absolute;
  padding-bottom: none;
  left: 1em;
  bottom: 1em;
  }  
}
.text-container {
     max-width: 100vw;
     height: auto;
}
.picture-container {
  margin: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
}
