@use 'src/styles/vars';


.article{
  display: flex;
  height: auto;
  max-height: 100vh;
  width: 100vw;
  justify-content: space-between ;
 
   &__text{
     width: 60%;
     font-size: 1.1em;
     position: absolute;
     padding-bottom: 0.5em;
     left: 2em;
     bottom: 2em;
  }  
 &__picture{
max-height:100%;
max-width: 100%;
}
}

.text-container {
  width: 100%;
  height: auto;
  min-height: 40vh;
  max-width: 70vw;
  max-height: 100vh; 
  position: relative;
}

.picture-container {
  padding: 0.5em;
  height: 100%;
  max-height: 100vh;
  max-width: 32vw;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

//specific width for ipad pro and small pc screens
 @media only screen and (max-width: 1024px) {

.picture-container {
  max-width: 40vw;
}
 .article__text{
  font-size: 1.6vw;
  }
}
 
 // specific picture width for tablets and phones (landscape)
 @media only screen and (max-width: 812px) {
 
.picture-container {
  max-width: 30vw;
}

.text-container {
  display: flex;
  flex-direction: column;
  padding: 2em;
}
.article__text {
position: static;
font-size: 1.8vw;
}
}


// specific lay out for smartphones
@media only screen and (max-width: 414px) {
  .article {
    flex-direction: column;
    max-width: 100vw;
    max-height: 100%;
  &__text{
  font-size: 3.4vw;
  margin-top: none;
  }
}
.text-container {
     max-width: 100vw;
     height: auto;
}
.picture-container {
  padding: 0.5em;
  height: auto;
  max-height: 100%;
  max-width: 100vw;
}
}
