@use 'src/styles/vars';


.article{
  display: flex;
  height: auto;
  margin: 25px;
  justify-content: space-between;
 
  &__text{
  display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-content: flex-end;
   margin: 0 0 125px 100px;
   width: 42%;
   font-size: 1.1em;
  }  
 &__picture{
   display: block;
max-height: calc(100vh-100px);
max-width: calc(50vw-40px);
object-fit: cover;
margin-left: 25px;
}
}

.homepage__link {
  width: fit-content;
  font-size: 1.2em;
  font-weight: 500;
}
 @media only screen and (max-width: 1366px) {
 .article__text{
  font-size: 1.6vw;
  margin: 0 0 100px 60px;
  }
 }

  @media only screen and (max-width: 1024px) {
.article__text {
margin: 0 0 50px 0;
}
}

// adapting font size for readability
 @media only screen and (max-width: 812px) {
.article__text {
font-size: 1.8vw;
margin: 0 0 35px 0;
}
}
 
 // specific picture width for tablets and phones (landscape)
  @media (min-width: 415px) and (max-width: 650px) { 
.article__text {
  width: 90%;
}
}

// specific lay out for smartphones (portrait)
@media only screen and (max-width: 414px) {
  .article {
  flex-direction: column-reverse;
  max-width: 100vw;
  max-height: 100%;
  &__text{
  font-size: 3.4vw;
  width: 100%;
  padding: 1em 0;
  }
  &__picture {
    max-width: calc(100vw-40px);
    margin-left: 0;
  }
}
.text-container {
     max-width: 100vw;
     height: auto;
}
}
