.stock__unfold-button {
  text-decoration: none;
  background: none;
  border: none;
  color: #0A1D7D;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  //margin:none;
  
  &:hover {
    opacity: 0.85;
  }
}
tr:nth-of-type(odd) { 
  background: #fff3eb; 
}
td { 
  padding: 6px; 
  border-bottom: 1px solid #ccc; 
  text-align: left; 
}

@media 
only screen and (max-width: 460px) {

	/* Force table to not be like tables anymore */
	td, tr { 
		display: block; 
	}
	
	tr { border: 1px solid #FFD3C2 }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #FFD3C2; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
    white-space: nowrap;
    font-weight: 400;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Référence"; }
	td:nth-of-type(2):before { content: "Montant total"; }
	td:nth-of-type(3):before { content: "Statut"; }
	td:nth-of-type(4):before { content: "Date"; }
}
