@use 'src/styles/vars';

.product-card {
  list-style:none;
  height: 450px;
  width: 21%;
  min-width: 250px;
  margin: 1em;
  overflow: hidden;
  cursor: pointer;
 
  & a {
    &::after {
      height: 0;
    }
  }

  &-image-container {
    height: 80%;
    width: 100%;
    overflow: hidden;
  }
  &-img {
    transition: 0.3s;
    height: 80%;
    width: 100%;
    object-fit: cover;
    &:hover {
      opacity: 0.7;
    }
  }
  &-caption {
    margin-top: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-title {
    font-size: 1.3em;
  }
}
