@use 'src/styles/vars';

.product {
  height: 400px;
  width: 30%;
  min-width: 250px;
  margin-top: vars.$gutter;
  cursor: pointer;

  &-image-container {
    height: 80%;
    width: 100%;
    overflow: hidden;
    border: 1px solid rgba(161, 168, 211, 0.623);
    padding: 0 1rem;
  }
  &-img {
    width: 100%;
    // max-height: 100%;
    transition: 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }
  &-caption {
    margin-top: 1rem;
    padding: 0.2rem 0;
    text-align: center;
    background-color: rgba(161, 168, 211, 0.623);
  }
  &-title {
    text-transform: uppercase;
  }
}
