@use 'src/styles/vars';

.product {
  height: 400px;
  width: 30%;
  min-width: 250px;
  margin-top: vars.$gutter;
  overflow: hidden;
  cursor: pointer;
  & a {
    &::after {
      height: 0;
    }
  }

  &-image-container {
    height: 80%;
    width: 100%;
    overflow: hidden;
  }
  &-img {
    transition: 0.3s;
    height: 80%;
    width: 100%;
    object-fit: cover;
    &:hover {
      opacity: 0.7;
    }
  }
  &-caption {
    margin-top: 1rem;
    padding: 0.2rem 0;
    text-align: center;
  }
  &-title {
    text-transform: uppercase;
  }
}
