//@use 'src/styles/vars';

// Google Fonts

@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700);

@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300;1,400;1,500;1,700);

// Font Variables
$global-font: 'Roboto', sans-serif;

//Colors
$font-color:#0A1D7D;
$footer-color: #FFEBDD
