@use 'reset';
@use 'vars';

body {
  font-family: vars.$global-font;
  color: vars.$font-color;
  font-weight: 300;
  line-height: 1.1;
  max-width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-weight: 400;
  line-height: 1.1;
}

h1 {
  font-size: 1.8em;
  margin: 1em 0;
  font-weight: 500;
}

h2 {
  font-size: 1.3em;
  font-weight: 500;
   margin: 0.5em 0;
}

p {
  margin: 1rem 0; 
}

i {
  font-style: italic;
}

em {
  font-weight: 500;
}

.link, a {
   position: relative;
   padding: 0.5em 0 0.3em 0;
   cursor: pointer;

  &::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background: #0A1D7D;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.6s;
      }


      &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/


@media only screen and (max-width: 414px) {
  h1 {
    font-size: 1.2em;
    margin: 0.3em 0;
  }
  a {
    padding: 0.3em 0 0.1em 0;
    font-size: 1em;
  }
}
