.dashboard__header {
  height: 30%;
  display: flex;
  background-color: #FFDFD0;
}

.header__profile {
  width: 70%;
font-size: 0.8em;
 padding: 0.3em;
}

.profile__background {
  background-color:#fff3eb;
  width: 100%;
  height: 100%;
}

.profile-flex {
  display: flex;
}

.profile__shopname {
  padding: 0 0.5em;
  font-size: 1.2em;
  font-weight: 400;
}

.profile__infos {
  display: flex;
}

.profile__contact {
  display: flex;
  padding: 0.5em;
}

.profile__address {
  padding: 0.5em;
}

.profile__picture {
  height: 6em;
  width: 6em;
  border-radius: 50%;
  object-fit: cover;
  margin: 0.8em 0.6em 0 0.6em;
}

.profile__presentation {
  padding: 0.5em;
  display: none;
}

.header__message {
  width:100%;
 font-weight: 400;
 padding: 2.2em; 
 position: relative;
 & strong {
   font-size: 1.5em;
  }
}


@media only screen and (max-width: 768px){

 .dashboard__header {
   height: 52%;
  flex-direction: column;
 }
 .header__profile {
  width: 100%;
}
.header__message {
  width:100%;
 font-weight: 400;
 padding: 1.8em; 
 & strong {
   font-size: 1.3em;
  }
}
}



@media only screen and (max-width: 1024px){
.profile__picture {
  margin: 0.8em 0.4em 0 0.4em;
}
}
