@use 'src/styles/vars';

.header {
  
  padding: 0% 1%;
  
  &-content{
    
    //padding: 15px 90px;
    padding: 3% 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    color: vars.$font-color;
    font-family: vars.$global-font;
    border-bottom: solid vars.$font-color 2px;


  }
  
}
