@use 'src/styles/vars';


.header{
  background-image: url("../../assets/aster.jpg");
  background-size: cover;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  width: 100vw;
 background-position: 100% 30%;
 margin-bottom: 0.5em;
 position: relative;
   &__text{
     width: 38%;
     font-size: 1.1em;
     position: absolute;
     padding-bottom: 0.5em;
     right: 3em;
     bottom: 3em;
     height: auto;
  }  
}

@media only screen and (max-width: 1350px) {
 .header__text{
  font-size: 1.6vw;
  }
}
 
//specific image positioning for ipad pro and small pc screens
 @media only screen and (max-width: 1024px) {
   .header {
     background-position: 50% 30%;
   }
 .header__text{
  font-size: 1.6vw;
  }
}

// adapting font size for readability
 @media only screen and (max-width: 812px) {
.header__text {
font-size: 1.8vw;
}
}
   @media (min-width: 650px) and (max-width: 812px) { 
.header__text {
max-height: 31vh;
}
} 
@media only screen and (max-width: 414px) {
  .header {
    flex-direction: column;
    max-height: 100%;
    background-position-x: 5% ;
  &__text{
  font-size: 3.4vw;
  margin-top: none;
  width: 70%;
  position: static;
  padding: 1em;
  padding-top: 58vh;
  }  
}
.text-container {
     max-width: 100vw;
     height: auto;
}
}
 