@use 'src/styles/vars';

.nav {
  height: 50px;
  max-width: 100vw;
  border-bottom: solid 1px vars.$font-color;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  z-index: 1;
  transition: background-color 0.5s ease;

  &__logo {
  width: auto;
  height:110%;
  margin: auto 0;
}
 &--active {
background-color: white;
opacity: 0.9;
}
  &__content{
      display: flex;
  }
  &__links {
    display: flex;
     align-items: center;
      width: 90%;
      justify-content: flex-end;
      margin: 1em 1em 0 1em;
     & div {
    margin-bottom: 1.22em;
  }
  }
  &__link {
    margin: 1em;
    font-weight: 400;
  font-size: 0.8rem;
  }
  &__icon {
   display: block;
   margin: auto 1em;
   position: relative;
   &::after {
        height: 0;
      }

    & svg {
      min-height: 25px;
      min-width: 25px;
    }
    &--burger {
   display: none;
    }
  }
}

.cart__amount {
  border-radius: 50%;
  background-color: vars.$font-color;
  color: white;
  font-size: 12px;
  font-weight: 500;
  height: 17px;
  width: 17px;
  text-align: center;
  line-height: 18px;
  position: absolute;
  bottom: -17px;
  right: -8px;
}
.nav__icon--disabled {
  pointer-events: none;
}

.cart__amount--disabled {
  pointer-events: none;
  color: vars.$font-color;
}

.logo-link {
  max-width: 100px;
}
.active {
  font-weight: 500;
   &::after {
     position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background: #0A1D7D;
        transform: scaleX(1);
   }
}

.link {
  font-weight: 400;
}

.burger {
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0.95) 0%, hsla(25, 100%, 93%, 0.95) 53%, hsla(17, 100%, 88%, 0.95) 85%, hsla(12, 100%, 86%, 0.95) 100%);
  min-height: 100vh;
  height: 100%;
  width:100vw;
  display: none;
  z-index: 2;
  position: fixed;
   top: 50px;
    &__links {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 2em auto;
      align-items: center;
  }
  &__link {
    margin: 1em;
    font-weight: 400;
  font-size: 1.1rem;
  }
  &--active {
    display: block;
  }
}


//specific font-size for tablets and small pc screens
 @media only screen and (max-width: 1024px) {
   .nav__links {
     margin-top: 1.3em;
     width: 92%;
   }
    .nav__logo {
  height:90%;
}
}

// adapting font size for readability
 @media only screen and (max-width: 812px) {
.nav__icon svg {
min-width: 18px;
min-height: 18px;
}
.nav__link {
     font-size: 0.6rem;
   }
}

/*   @media (min-width: 415px) and (max-width: 650px) { 
.nav {
  height: 10vh;
}
.nav__link {
     font-size: 0.55rem;
   }
}  */

// specific lay out for smartphones (portrait)
@media only screen and (max-width: 700px) {
  // nav links disappear
  .nav__links {
    display: none;
  }
  // and are replaced by a burger menu
  .nav__icon--burger {
    display: block;
  }
  .nav__icon svg {
min-width: 25px;
min-height: 25px;
}
 
}
