.dashboard-container {
  width: 90%; 
  max-width: 90%;
  min-height: 95vh;
  height: auto;
  margin: 50px auto;
 
   padding: 1em 0;
   h1 {
    padding: 1em;
    padding-top: 0;
  }
}
.dashboard {
 background-color: #fff3eb;
position: relative;
 min-height: 70vh;
&__settings {
position: absolute;
top: 0.5em;
right: 0.5em;
color: #0A1D7D;
width: 25px;
& svg {
  height: 100%;
  width: 100%;
}
}
&__stock{
  display:flex;
  justify-content: space-between;
  width: 100%;
  background-color: #FFD3C2;
  margin: 0.5em 0;
  padding: 0.3em;
  & h2 {
    font-weight: 400;
  }
} 
}

.stock__links {
  display: flex;
  flex-direction: column;
}
.stock__link {
  text-decoration: none;
  background: none;
  border: none;
  color: #0A1D7D;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  padding: 0.25em 0.3em 0 0;
  
  &:hover {
    opacity: 0.6;
  }
  &:after {
    height: 0;
  }
}


