@use 'src/styles/vars';


.footer {
  
  background-color: vars.$footer-color;
  
  
  &-content{
    
    padding: 4%;
    
    
    &-links{
      font-size: 15px;
      padding: 0% 0% 0% 65%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
      color: vars.$font-color;
      &-ico{
  
      }
    }
    
  }
}
