@use 'src/styles/vars';

.footer {
  height: 70px;
  background-color: vars.$footer-color;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 0 25px;
  &__content {
    width: 100%;
    display: flex;
  }
  &__text-links {
width: 100%;
display: flex;
align-items: center;
justify-content: flex-start;
}
&__social {
width: auto;
display: flex;
align-items: center;
justify-content: flex-end;

}
}

.text-links__team,
.text-links__terms {
padding: 0;
font-size: 0.8rem;
font-weight: 400;
margin-right: 1em;
 &::after {
    height: 0;
  } 
}

.social__instagram,
.social__facebook {
   margin-left: 1em;
 padding: 0;
  &::after {
    height: 0;
  } 
  & svg {
    width: 1rem;
    height: 100%;
  }
}

 @media only screen and (max-width: 1350px) {
  .text-links__team,
.text-links__terms {
font-size: 1.4vw;
}
}

 @media only screen and (max-width: 812px) {
.text-links__team,
.text-links__terms {
font-size: 1.8vw;
}
}

@media only screen and (max-width: 414px) {
.text-links__team,
.text-links__terms {
font-size: 3.4vw;
}
}
