@use 'src/styles/vars';


.band{
  background-image: url("../../assets/carotte.jpg");
 
  background-size: cover;
  height:100vh;
  
  &__article{
   
    display: flex;
    height:100%;
    
    &__text{
      
      height: 100%;
      line-height: 2vh;
      color: vars.$font-color;
      padding: 15% 6% 5% 65%;
      


    &__title{
      line-height: 5vh;
      font-size: 5vh;
      font-weight: 450;
      padding: 3vh 0vh;
    }
    &__writing{
      line-height: 2.5vh;
      font-weight: 300;
      font-size: 3vh;
    }
    &__link{
      padding: 2vh 0vh;
      font-weight: 500;
      font-size: 3vh;
      :after {
        content: "→";
        padding: auto;}
    }}
  

}

.gras{
  font-weight: 500;
}

}

br{
  padding: 90px;
}
