@use 'src/styles/vars';

.single-product {
  display: flex;
  margin-top: 5rem;
  padding: 0.6rem 1rem;
  justify-content: space-between;

  &_leftside {
    height: 500px;
    margin-right: 2rem;
    overflow: hidden;
    width: 40%;

    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &_rightside {
    flex: 1;
    height: 400px;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
  }
}

.product {
  &-name {
    background-color: aqua;
  }
  &-shopname {
    background-color: azure;
  }
  &-price {
    background-color: blue;
  }
  &-description {
    background-color: chartreuse;
  }
}
