@use 'src/styles/vars';

.nav {
  height: 8vh;
  max-width: 100vw;
  border-bottom: solid 2px vars.$font-color;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  &__logo {
  width: auto;
  height:100%;
  margin: auto 0;
}
  &__content{
      display: flex;
  }
  &__links {
    display: flex;
     align-items: center;
      width: 90%;
      justify-content: flex-end;
      margin: 1em 1em 0 1em;
  }
  &__link {
    margin: 1em;
    font-weight: 400;
  font-size: 0.8em;
  }
  &__icon {
   display: block;
   margin: auto 1em;
    & svg {
      min-height: 25px;
      min-width: 25px;
    }
    &--burger {
   display: none;
    }
  }
}



//specific font-size for tablets and small pc screens
 @media only screen and (max-width: 1024px) {
   .nav__link {
     font-size: 1.3em;
   }
   .nav__links {
     margin-top: 1.3em;
     width: 92%;
   }
    .nav__logo {
  height:80%;
}
}

// adapting font size for readability
 @media only screen and (max-width: 812px) {
.nav__icon svg {
min-width: 18px;
min-height: 18px;
}
}

  @media (min-width: 415px) and (max-width: 650px) { 
.nav {
  height: 10vh;
}
} 

// specific lay out for smartphones (portrait)
@media only screen and (max-width: 414px) {
  // nav links disappear
  .nav__links {
    display: none;
  }
  // and are replaced by a burger menu
  .nav__icon--burger {
    display: block;
  }
  .nav__icon svg {
min-width: 25px;
min-height: 25px;
}
   .nav__logo {
  height:100%;
}
}
